body {
	font-family: "Times New Roman", Georgia, Serif;
	height: 100%;	
}
html {
	/*background-color: #a3b0cc;*/
	height: 100%;
}

#hex_clock {
	position: absolute;
	width: 100%;
	text-align: center;
	color: #7c7c7c;
	font-weight: 100;
	font-size: 80px;
	letter-spacing: 3px;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

